<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
	<a class="navbar-brand" href="/">Test task</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item {% if home_page %}active{% endif %}">
				<a class="nav-link" href="#">Home</a>
			</li>
			{% if current_user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link {% if documents_page %}active{% endif %}" href="{{ url_for('documents.index') }}">Documents</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if document_create_page %}active{% endif %}" href="{{ url_for('documents.create_document') }}">Create document</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('documents.generate_documents') }}">Generate documents</a>
				</li>

			{% endif %}

		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		<ul class="nav navbar-nav navbar-right">
			{% if current_user.is_authenticated %}
				<li><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
			{% else %}
				<li><a class="nav-link" href="{{ url_for('security.login') }}">Login</a></li>
			{% endif %}
		</ul>
	</div>
</nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="text-info text-center">
					<h1>{% block content_title %}{% endblock %}</h1>
					{% with messages = get_flashed_messages() %}

						{% if messages %}
								<ul class='list-inline'>
									{% for message in messages %}
										<li>{{ message }}</li>
										<li>{{ message }}</li>
									{% endfor %}
								</ul>
						{% endif %}

					{% endwith %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>